<h2 data-toggle="modal" data-target="#new-tape" class='right-align clickable'>
  <%= fa_icon 'plus' %>
</h2>

<div class="modal fade" id="new-tape">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Add a Tape</h4>
      </div>
      <div class="modal-body">
        <div class='form-group'>
          <%= form_for :spotify, url: search_spotify_path(@collection), remote: true, method: :get do |f| %>
            <%= f.text_field :query, class: "form-control", placeholder: 'Album or Artist Name' %>
            <div id='results'></div>
        </div>
      </div>
      <div class="modal-footer">
          <%= f.submit "Search Spotify", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
