<script>
  $("#collection").sortable({
    items: ".album-wrapper",
    handle: ".order",
    opacity: 0.6,
    update: function() {
      sendOrderToServer();
    }
  });

  $(".order").hover(
    function() {
      $(this).css("cursor", "move");
    }, function() {
      $(this).css("cursor", "");
    }
  );

  function sendOrderToServer() {
    var order = $("#collection").sortable("serialize");
    var url = $("#collection").data("reorder-path");

    $.ajax({
      type: "POST",
      dataType: "json",
      url: url,
      data: order,
      success: function(response) {
        $(".order").each(function(index, value) {
          var new_position = (index + 1)
          $(this).replaceWith("<div class='order'><h3>" + new_position + "</h3></div>");
        });
      }
    });
  }
</script>