<div class="row">
  <div class="col-xs-12">
    <h1 class='heading'><%= @collection.title %></h1>
    <%= render 'collections/edit_model' %>
  </div>
</div>
<div id='collection'>
  <%= render @collection.albums.order('position'), collection: @collection %>
</div>
