<div id="player" class='slider'>
  <div id="player_cover"></div>
  <div id="player_info">
    <div id="player_song"></div>
    <div id="player_artist"></div>
    <div id="player_album"></div>
  </div>
  <div id="player_controls">
    <%= fa_icon 'step-forward', class: 'next_button clickable', id: 'next_button' %>
    <%= fa_icon 'stop', class: 'stop_button clickable', id: 'stop_button' %>
    <%= fa_icon 'step-backward', class: 'previous_button clickable', id: 'previous_button' %>
  </div>
</div>

<div id='jplayer1'>
</div>

<div id='jplayer2'>
</div>