<div class='container'>
  <% if @albums.any? %>
    <% @albums.each do |album| %>
      <div class='nopadding col-xs-3'>
        <%= link_to collection_albums_path(@collection, spotify_id: album.spotify_id), method: :post, remote: true do %>
          <img class="album img-thumbnail" src=<%= album.art %>>
        <% end %>
      </div>
    <% end %>
  <% else %>
    None found!
  <% end %>
</div>