<div class='album-overlay'>
  <div class='album-info'>
    <span class='album-name'><%= album.name %></span></br>
    <span class='album-artist'><%= album.artist %></span></br>
    <span class='album-year'><%= album.year %></span>
  </div>
</div>