<div class='col-xs-12 col-sm-6 col-md-3'>
  <% if collection.ordered? %>
    <h3 class='order'><%= album.position %></h3>
  <% end %>
  <%= link_to play_albums_path(album.spotify_id), remote: true do %>
    <img class="album img-thumbnail" src=<%= album.art %>>
  <% end %>
</div>