/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */

@import "bootstrap";
@import "font-awesome";
@import "bootstrap-toggle";

a {
  color:#000000 !important;
  text-decoration: none !important;
}

html, body {
  height: 100%;
}

#menu-wrapper {
  float: right;
}

#menu-button {
  padding: 0;
  background-color: transparent;
  border: none;
}

.menu-item {
  width: 160px;
  padding-top: 10px;
}

.menu-item-icon {
  width: 40px;
  float: left;
  padding-left: 10px;
}

.menu-item-text {
  width: 120px;
  text-align: right;
  float: right;
  padding-right: 10px;
}

#menu {
  padding: 0;
  margin: 0;
}

.row-centered {
  text-align:center;
}

.col-centered {
  display: inline-block;
  float: none;
  text-align: left;
}

.album-wrapper {
  margin: 0px 10px 30px 10px;
  padding: 0px;
}

.album {
  margin: 0 auto;
  width: 100%;
  height: auto;
  padding: 0px;
}

.album-art {
  margin-top: 3px;
  position: relative
}

.center-align {
  text-align: center;
}

.right-align {
  text-align: right;
}

.clickable {
  cursor: pointer;
}

.bottom-margin-lg {
  margin-bottom: 60px;
}

.top-margin-lg {
  margin-top: 60px;
}

.order {
  cursor: move;
  text-align: right;
  border-bottom: 3px solid;
}

.nopadding {
  padding: 0px !important;
  margin: 0px !important;
}

#player{
  height: 70px;
  width: 455px;
  position: relative;
  left: -455px;
}

.open-slider{
  left: 0px !important;
}

.slider{
  -webkit-transition: all 600ms cubic-bezier(1, 0, 0, 1);
  transition:         all 600ms cubic-bezier(1, 0, 0, 1);
}

#player_cover {
  width: 70px;
  height: 70px;
  float: left;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#player_info {
  height: 70px;
  width: 160px;
  float: left;
}

#player_song, #player_artist, #player_album {
  height: 22px;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  border-bottom: 1px solid black;
  font-size: 14px;
  margin-left: 5px;
}

#player_controls {
  width: 20px;
  height: 70px;
  float: left;
  margin-left: 10px;
}

#stop_button, #previous_button, #next_button {
  height: 20px;
  width: 20px;
}

.navbar {
  padding: 0px;
  background-color: white;
  box-shadow: 0 -5px 5px -5px #333;
  -webkit-transition: all 300ms cubic-bezier(1, 0, 0, 1);
  transition:         all 300ms cubic-bezier(1, 0, 0, 1);
}

.navbar.navbar-slideout {
  bottom: -70px !important;
}

.btn:focus, .btn:active {
  outline: none !important;
}

.rotate {
  animation: .6s rotateRight infinite linear;
}

@keyframes rotateRight {
  0%{ transform:rotate(0deg); transform-origin:50% 50%; }
  100%{ transform:rotate(360deg); }
}

.album-overlay {
  background: rgba(0,0,0,.75);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
  -webkit-transition: opacity .25s ease;
  -moz-transition: opacity .25s ease;
}

.album-remove {
  position:absolute;
  font-size: 18px;
  bottom: 5px;
  right: 10px;
  z-index: 1;
  opacity: 0;
  -webkit-transition: opacity .25s ease;
  -moz-transition: opacity .25s ease;
}

.album-art:hover .album-overlay {
  opacity: 1;
}

.album-art:hover .album-remove {
  opacity: 1;
}

.album-info {
  padding: 10px;
  color: rgba(255,255,255,.75);
}

.album-remove a {
  color: rgba(255,255,255,.75) !important;
}

.album-name {
  font-size: 18px;
  font-weight: bold;
}

.album-year {
  font-size: 14px;
}

.order-toggle {
  margin-top: 20px;
}

.toggle-off.btn, .toggle-on.btn {
  padding-left: 15px !important;
}

.toggle.btn {
  min-height: 39px !important;
  border: 1px solid black;
}

#results {
  margin-top: 20px;
}

.btn-primary {
  background-color: white;
  color: black;
  border-color: black;
}

.btn-primary:hover {
  background-color: black;
  color: white;
  border-color: black;
}

.form-control:focus {
  border-color: black;
}

.album-preview {
  padding: 0;
  width: 100%;
  height: auto;
}

.collection-preview-wrapper {
  margin-bottom: 80px;
}

.collection-preview {
  position: relative;
  top: 0px;
  background-color: black;
  margin-bottom: 15px;
}

.collection-preview-title {
  position: absolute;
  height: 50px;
  overflow: hidden;
}

.underline {
  text-decoration: underline;
}

#about, #sign-in {
  text-align: center;
}

#show-me-button, .sign-in-button {
  margin: 20px 0px 40px 0px;
}